.sec
{
       padding : 100px 5%;
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: "Open Sans", sans-serif;
}
.titre
{
    display : flex;
    text-align: center;
    align-items: center;
}

.bi.bi-star-fill {
    color: #de7921; /* Couleur jaune pour l'icône d'étoile remplie */
}

.bi.bi-star {
    color: #de7921; /* Couleur jaune pour l'icône d'étoile remplie */
}
.bi.bi-star-half
{
    color: #de7921;
}

.bi.bi-heart
{
    color: red;
}

.bi.bi-heart-fill
{
    color: red;
}
h4
{
    color : black !important;
}



.conteneur
{
    min-height : 100vh;
    max-height : 100vh;
    width : 100%;
    height : 100vh; 
    display : flex;
    flex-direction: column;
}

section
{
    height : 100%;
    width : 100%;
}


.produit
{
    margin-top : 110px;
    position : relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    
}

@media (max-width: 768px) {
    .produit {
        display: flex;
    }
    .descri
    {
        width : 90%  !important;
    }
    .images
    {
        width : 90% !important;
    }
    table {
        width: 88% !important;
    }
  }

.images
{
    width: 48%;
    max-height : 100vh;
    display : flex;
    align-items : center;
    justify-content : center;
}

.descri
{
    width: 48%;
    background: #f5f5f5;
    border-radius: 12px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items : center;
    padding-left : 20px;
    padding-right : 20px;
}

.descri h4{
    color: grey !important;
    width : 90%;
}

.commentaires hr
{
    border: 0;
    border-top: 1px solid black;
    color: inherit;
    opacity: .25;
    width : 100%;
    margin: 1rem 0;
}

hr {
    border: 0;
    border-top: 1px solid black;
    color: inherit;
    opacity: .25;
    width : 90%;
    margin-top : 4px;
    margin-bottom: 4px;;
}

.descri h2
{
    margin-top: 20px;
    font-family: "Jost", sans-serif;
    font-size: calc(1.5rem + .9vw);
    width: 90%;
    word-wrap: break-word;
    color: #424144;
}

.table h2
{
    margin-top: 48px;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
    font-size: calc(1rem + .9vw);
    word-wrap: break-word;
    color: #424144;
    margin-left: 30px;
}



.eval
{
    width : 90%;
    color: #424144;
    margin-top : 10px;
    margin-bottom : 8px;
}
.prix
{
    width : 90%;
    font-size: 24px;
    word-wrap: break-word;
    font-family: "Jost", sans-serif;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.imageCount
{
    width : 90%;
    font-size: 21px;
    word-wrap: break-word;
    color : #34495e
}
.descr
{
    margin-top: 0.4rem;
    margin-bottom : 0.4rem;
    font-size: 20px;
    word-wrap: break-word;
    width : 90%;
    color: #424144;
    overflow-y: auto;
}

.des
{
    width :90%;
    color : #424144 !important;
    margin-bottom: 5px;
}


.form
{
    margin-bottom: 2%;
    display: grid;
    margin-top: auto;
    justify-content: center;
}

.button {
    background-color: rgb(37, 150, 190);
    font-size: 19px;
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 50px;
    color: #fff;
    border: 2px solid #47b2e4;
    transition: 0.3s;
    cursor: pointer;
}

p
{
    color : black;
}
.commentaires hr
{
    padding-left: 20px;
}

.commentaires {
    width: 100%;
    margin: 0 ;
    padding: 30px;
}

.commentaire {

    padding-bottom: 60px;
}
  
.commentaires form {
    margin-bottom: 20px;
}
  
.commentaires textarea.commentbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    color : black !important;
}
  
.commentaires p {
    margin-bottom: 10px;
    margin-top: 10px;
}

h3
{
    color : black !important;
}

h3 a
{
    color : rgb(37, 150, 190) !important;
    text-decoration: none;
}

#form
{
    border : 1px solid grey;
    border-radius : 4px;
    padding : 10px;
    display : none;
}


.displayForm
{
    display: block !important; 
}

#activeComment
{
    cursor : pointer;
}

h5
{
    margin-top: 5px;
    color : grey !important;
}

.connect
{
    width: 100%;
    height : 40px;
    color : rgb(37, 150, 190) !important;
    display : flex;
    align-items : center;
    justify-content: center;
    margin-top : 20px;
    border: 2px solid #cfe8fc;
    border-radius: 10px;
    background: #cfe8fc;
}

#activeComment
{
    color : rgb(37, 150, 190) !important;
    cursor: pointer;
}

#activeComment:hover
{
    color : rgb(87, 132, 148) !important;
}


.commentaires button[type="submit"] {
    padding: 10px 20px;
    margin-top : 10px;
    background-color: rgb(37, 150, 190);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .commentaires button[type="submit"]:hover {
    background-color: rgb(37, 150, 190);
  }
  
  .commentaires button[type="submit"]:focus {
    outline: none;
  }

  .commentbox
  {
    display : flex;
    flex-direction: column;
  }

  abbr {
    border: 0;
    color: red;
    padding: 0 .3em 0 0;
    text-decoration: none;
  }

  .rating-stars span
  {
    cursor : pointer;
  }

  .rating-stars2 span
  {
    cursor : pointer;
  }

  .comm
  {
    display : flex;
    flex-wrap: wrap;
   overflow-wrap: break-word;
  }

  .comm p
  {
    width : 99%;
  }

  .submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    margin-left : auto;
}

.submit-button:hover {
    background-color: #0056b3;
}

.delete-button
{
    background-color: red;
    color: #fff;
    border: none;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    margin-left : 2px;
}

.delete-button:hover {
    background-color: darkred; 
}

  .option
  {
    background-color: #dcdcdc;
    border: none;
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
    margin-left : 2px;
    height : 30px;
}

.like-btn {
    background-color: #dcdcdc;
    border: none;
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
    height: 30px;
    display:flex;
    font-size : 20px;
    justify-content: space-between;
    align-items: center;
  }

.msg
{
    display :flex;
    width :  100%;
}

.bouton
{
    display : none
}

.activeC
{
    width: 100%;
   display: flex;
   align-items: flex-end;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-left : 30px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


table td a {
    color: rgb(37, 150, 190);
    text-decoration: none;
  }

.commentaires h2
{
    color: #424144;
}

.editHTMX {
    border: none;
    border-radius: 3px;
    resize: none;
    overflow-y: hidden;
}


.con-like {
    --red: rgb(255, 50, 50);
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .con-like .outline,
  .con-like .filled {
    fill: var(--red);
    position: absolute;
  }
  
  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }
  
  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }
  
  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }
  
  .con-like .like:checked ~ .checkmark .filled {
    display: block
  }
  
  .con-like .like:checked ~ .checkmark .celebrate {
    display: block
  }
  
  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }