.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  max-width: 1400px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
  cursor: initial;
}
.card .image-box {
  height: 75vh;
  display : flex;
  justify-content: center;
  align-items: center;
}
.card .image-box img {
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
  object-position: center;
  flex: none;
  
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #333;
}
