.sec
{
       padding: 100px 5%;
       width : 100%;
       
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-size : cover;
    background-position : center;
}

.pheading {
    margin-top: 10px;
    width: 93%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #337ab7; /* Couleur bleue */
    background-color: #f9f9f9; /* Couleur de fond */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la boîte */
    margin-left: 20px;
  }

.products
{
    display: flex;
}

.products .card
{
    width : 40vh;
    height : 55vh;
    background : #f5f5f5;

    box-shadow : 0 10px 20px rgba(0,0,0,0.3);
    border-radius : 5px;
    padding : 5px;
    
    margin : 20px;
}

.products .card img
{
    height : 25vh;
    max-width: 100%;
    vertical-align: middle;
    
}

.products .card .img
{
    height: 30vh;
    display : flex;
    align-items : center;
    justify-content: center;
}

.products .card .bas
{
    height : 20vh;
}

.products .card .desc
{
    padding : 5px 20px;
    opacity : 0.8;
}

.products .card .title
{
    font-weight : 900;
    font-size : 20px;
    color : #424144;
    padding : 0 20px;
}

.products .card .box
{
    display :flex;
    justify-content: space-between;
    align-items : center;
    padding : 20px;
}

.products .card .box .price
{
    color : #f63e4e;
    font-size : 20px;
    font-weight : bold;
}

.products .card .box .btn
{
  font-size : 13px;
  color : #f63e4e;
  padding : 10px 18px;
  font-weight : 900;
  border : 1px solid;
  border-radius : 20px;
}

.products .card .box .btn:hover
{
    cursor: pointer;
    background-color : #f63e4e;
    color : white;
}.sec
{
       padding: 100px 5%;
       
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-size : cover;
    background-position : center;
}

.pheading
{
    margin-top : 10px;
}

.products
{
    display: flex;
   flex-wrap: wrap;
}

.products .card
{
    width : 40vh;
    height : 55vh;
    background : #f5f5f5;

    box-shadow : 0 10px 20px rgba(0,0,0,0.3);
    border-radius : 5px;
    padding : 5px;
    
    margin : 20px;
}

.products .card img
{
    height : 25vh;
    max-width: 100%;
    vertical-align: middle;
    
}

.products .card .img
{
    height: 30vh;
    display : flex;
    align-items : center;
    justify-content: center;
}

.products .card .bas
{
    height : 20vh;
}

.products .card .desc
{
    padding : 5px 20px;
    opacity : 0.8;
}

.products .card .title
{
    font-weight : 900;
    font-size : 20px;
    color : #424144;
    padding : 0 20px;
}

.products .card .box
{
    display :flex;
    justify-content: space-between;
    align-items : center;
    padding : 20px;
}

.products .card .box .price
{
    color : #f63e4e;
    font-size : 20px;
    font-weight : bold;
}

.products .card .box .btn
{
  font-size : 13px;
  color : #f63e4e;
  padding : 10px 18px;
  font-weight : 900;
  border : 1px solid;
  border-radius : 20px;
}

.products .card .box .btn:hover
{
    cursor: pointer;
    background-color : #f63e4e;
    color : white;
}

/* Style de la barre de recherche */
.search {
    padding: 8px 12px; 
    width: 90%; 
    border: none; 
    font-size: 16px;
    outline: none; 
  }

  .priceMax {
    padding: 8px 12px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    margin-left: 10px; 
    width: 15%;
  }


  
  /* Style du bouton de recherche */
  .search-btn {
    width : 10% !important;
    padding: 12px 20px;
    background-color: #f8f8f8;
    border: none;
    border-radius: right 4px;
    cursor: pointer;
    outline: none;
  }
  
  /* Style du bouton de recherche au survol */
  .search-btn:hover {
    background-color: #e0e0e0;
  }

  .search-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

  }

  form
  {
    display : flex;
  }

  .forms
{
    display : flex;
    width: 40vw;
    border: 2px solid #ccc;
    border-radius: 6px; 
}


select {
    padding: 8px 12px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    margin-left: 10px; /* Ajustez la marge selon vos besoins */
    background-color: #f8f8f8 !important;
}
