*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}



body
{
    display : flex;
    justify-content : center;
    align-items : center;
    min-height : 100vh;
    background : url('/assets/Images/img/hero-bg.png') no-repeat;
    background-size : cover;
    background-position : center;

}


/* LOGIN PAGE */

.wrapper
{
    position : relative;
    width : 400px;
    height : 440px;
    border : 1px solid #162938;
    top : 50px;
    border-radius : 20px;
    background: #f2f9ff;
    display: flex;
    justify-content : center;
    align-items : center;
    transition : transform .5s ease, height .2s ease;
    transform : scale(0);
    overflow : hidden;
}

.wrapper.active-popup
{
    transform : scale(1);
}

.wrapper.active
{
    height : 550px;
}

.wrapper .form-box.login
{
   transition : transform .18s ease;
   transform : translateX(0);
}

.wrapper .form-box.login
{
    width : 100%;
    height : 100%;
    padding-left : 40px;
    padding-right : 40px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.wrapper.active .form-box.login
{
    transition : none;
    transform : translateX(-400px);
}


.wrapper .form-box.register
{
   position : absolute;
   transition : none;
   transform : translateX(400px);
   width : 100%;
   padding : 40px;
}

.wrapper.active .form-box.register
{
   transition : transform .18s ease;
   transform : translateX(0);
}



.form-box .h3
{
    font-family: "Lato", Arial, sans-serif !important;
    font-size: 2rem;
    color: #000;
    text-align : center;
}

.form-box p.error {
    color: #d93025;
    text-align: center;
  }

.input-box
{
    position : relative;
    width : 100%;
    height : 50px;
    border-bottom : 2px solid #162938;
    margin : 30px 0;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.error
{
  color: red;
  font-size: 0.9rem;
  font-family: "Lato", Arial, sans-serif !important;
}

.input-box label
{

    
    position : absolute;
    top: 50%;
    left : 5px;
    transform : translateY(-50%);
    font-size : 1em;
    color : #162938;
    font-weight : 500;
    pointer-events : none;
    transition : .5s;
}

.input-box input:focus~label, .input-box input:not(:placeholder-shown)~label
{
   top : -5px;
}

.input-box input
{
    width : 100%;
    height : 80%;
    background: none;
    color : #fff;
    border : none;
    outline : none;
    font-size : 1em;
    color : #162938;
    font-weight : 600;
    padding: 0 35px 0 5px;
    border-radius : 10px;
}

.input-box .icon
{
    position : absolute;
    right : 8px;
    font-size : 1.2em;
    color : #162938;
    line-height : 57px;
}

.remember-forgot
{
    font-size : .9em;
    color : #162938;
    font-weight: 500;
    margin : 0 0 15px;
    display : flex;
    justify-content: space-between;
}

.remember-forgot label input
{
    accent-color : #162938;
    margin-right : 3px;
}

.remember-forgot a
{
    color : #162938;
    text-decoration : none;
}

.remember-forgot a:hover
{
    text-decoration : underline;
}

.btn 
{
    width : 100%;
    height : 45px;
    background : #162938;
    border : none;
    outline : none;
    border-radius : 6px;
    cursor : pointer;
    font-size : 1em;
    color : #fff;
    font-weight : 500;
    margin-top : 8px;
}

.login-register
{
    font-size : .9em;
    color : #162938;
    text-align : center;
    font-weight : 500;
    margin : 25px 0 10px;
}

.login-register p a 
{
    color : #162938;
    text-decoration : none;
    font-weight : 600;
}

.login-register p a:hover 
{
   text-decoration: underline;
}

