.desactive {
    display:none
}
.table__body {
    width:95%;
    max-height:calc(89% - 1.6rem);
    background-color:#fffb;
    margin:.8rem auto;
    border-radius:.6rem;
    overflow:auto;
    overflow:overlay;
    position:relative;
    top:80px
}
.table__body::-webkit-scrollbar {
    width:.5rem;
    height:.5rem
}
.table__body::-webkit-scrollbar-thumb {
    border-radius:.5rem;
    background-color:#0004;
    visibility:hidden
}
.table__body:hover::-webkit-scrollbar-thumb {
    visibility:visible
}
table {
    width:100%
}
table,td,th {
    border-collapse:collapse;
    padding:1rem;
    text-align:left
}
thead th {
    position:sticky;
    top:0;
    left:0;
    background-color:#d5d1defe;
    cursor:pointer;
    text-transform:capitalize
}
tbody tr:nth-child(even) {
    background-color:#0000000b
}
tbody tr {
    background-color:#d5d2d2
}

tbody td {
    width: 25%;
}

p {
    background-color: #f5f5f5; /* Couleur de fond */
    padding: 8px; /* Espacement intérieur */
    border-radius: 6px; /* Bordure arrondie */
    margin: 4px 0; /* Marge extérieure (haut et bas) */
}

.status {
    padding:.4rem 0;
    border-radius:2rem;
    padding-left: 8px;
    padding-right: 8px;
}
.status.delivered {
    background-color:#86e49d;
    color:#006b21
}
@media (max-width:1000px) {
    td:not(:first-of-type) {
        min-width:12.1rem
    }
}