*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
}


body
{
    min-height : 85vh;
    width : 100%;
    font-family: 'Montserrat', sans-serif;
    display : block !important;
}

h1
{
    margin-top : 110px;
    text-align : center;
    color: #424144;
    font-family: "Jost", sans-serif;
}
.containers {
     width : 50%;
    margin-top : 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius : 12px;
  }
  .form
  {
    display : flex;
    width : 100%;
  }

  @media(max-width : 800px){
    .form
    {
      flex-direction: column !important;
      align-items: center !important;
    }

    .article
    {
      width : 100% !important;
      margin-right: 0 !important;
    }

    .imageArticle
    {
      width : 100% !important;
    }
  }

  .article
  {
    width : 50%;
    margin-right : 30px;
  }

  .imageArticle
  {
    width : 50%;
  }

  .boite
  {
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .image
{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top : 5px;
    background-color : white;
  }
  
  textarea.form-control {
    height: 150px;
      resize: none;
  }
  
  .btn-primary {
    background-color: rgb(0,110,147);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; 
    display: block;
  }
  
  .btn-primary:hover {
    background-color: #fff;
    color : rgb(0,110,147);
  }

  .btn-reset {
    background-color: rgb(147, 0, 0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; 
    display: block;
    margin-left : 8px;
  }
  
  .btn-reset:hover {
    background-color: white;
    color : red;
  }

  .button
  {
    display : flex;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }

.form-label
{
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
  font-weight: 600;
  color: #424144;
  font-weight: 500;
}

abbr {
  border: 0;
  color: red;
  padding: 0 .3em 0 0;
  text-decoration: none;
}

.error
{
  color: red;
  font-size: 0.9rem;
  font-family: "Lato", Arial, sans-serif !important;
}




@media (max-width:768px) {
  .images {
      width:90%!important
  }
}
.images {
  width: 48%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.des {
  width:90%;
  color:#424144!important;
  margin-bottom:5px
}
